h1 {
    text-align: center;
}
.container-flex-1 {
    display: flex;
    background-color: darkcyan;
}
.item{
   
    height: 200px;
    background-color: goldenrod;
    margin: 20px;
    font-size: 1.5em;
    color: white;
}
.item-menu{
width: 200px;

}
.item-contain {
    flex-grow: 1;
}
.item-sidebar{
    flex-grow: 2;
    
    }

