h1 {
    text-align: center;
}
.container-flex-1 {
    display: flex;
    background-color: darkcyan;
    flex-flow: row wrap;
}
.container-flex-2 {
    display: flex;
    background-color: darkcyan;
    flex-flow:  row nowrap;
}
.container-flex-3{
    display: flex;
    background-color: darkcyan;
    flex-flow: column wrap;
    height: 500px;
}
.container-flex-4 {
    display: flex;
    background-color: darkcyan;
    flex-flow: column nowrap;
    height: 500px;
  
  
}
/*.container-flex-2 {
    display: flex;
    background-color: darkcyan;
    flex-wrap: wrap;
}*/
.item-flex {
    width: 200px;
    height: 200px;
    background-color: goldenrod;
    margin: 20px;
    font-size: 1.5em;
    color: white;
}