.container {
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    width: 90%;
    max-width: 1000px;
    border: 10px solid black;
    margin: 0 auto;
    font-size: 3em;
    line-height: 50px;
    text-align: center;
}
.container > div{
display: block;
padding: 20px;
color: white;
background: royalblue;
box-shadow: 2px 2px 10px black;
}
