h1 {
  
  text-align: center;

  }
p  {
font-size: 30px;
text-align: justify; 
}
  
.paris {
  float: left;
  margin-right: 30px;

  }
.venecia { 
  float: right;
  margin-left: 30px;
}
img {
  clear: both;
  margin-top: 2em;
}
.flotante {
margin-bottom: 200px;
}
.menu{
  display: inline;
    margin-right: 45px;
    font-size: 1.6em;
    color: white;
    padding: 20px 0 20px 0;
}

  


