.items-style {
    display: inline;
    margin-right: 45px;
    font-size: 1.6em;
    color: white;
    padding: 20px 0 20px 0;
}
.list-style {
    text-align: right;
    background-color: crimson;
    padding-top: 30px;
    padding-bottom: 30px;
}