* {
    margin: 0;
    padding: 0;
}
#nav-bar {
    color: black;
    display: inline-block;
    margin: 20px 20px 20px 10px;
    width: 95%; 
}
ul {
    list-style-type: none;
    font-size: 1.4em;
    text-align: center;
    padding-bottom:  30px;
    border-bottom: 2px  solid goldenrod;
}
li {
    background-color:  goldenrod ;
    padding: 5px 15px;
    margin: 2px;
    display: inline-block;
}

   
}
a {
    text-decoration: none;
    color: black;
}