/* clase de elementos */
h1 {
    font-size: 45px;
}
/* clase no atada a ningun elementos */
.centrado {
    margin: 0 auto 0 auto;
    text-align: center;
}
/* clase atada a un elemento */
p.color-fuente {
color:red;
text-align: center;
font-size: 30px;
}
h2 {
    text-align: center;
}
img {
    display: block;
    margin: 0 auto 0 auto;
}
 p.fuente-enlace {
     font-size: 40px;
     text-align: center;
 } 
