* {
    margin: 0;
    padding: 0;
}
table {
    font-size: 1.7em;
    border-collapse: collapse;
    margin: 25px auto;
    width: 70%;
}
th, td {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
}
.motos_familiares {
    width: 50%;
}
.head-codigo,.head-codigo-sub {
    background: lightseagreen;
    color: whitesmoke;
    font-weight: 900;
}
.head-codigo {
    border-top-left-radius: 20px;
    border-bottom: 2px solid lightseagreen;
}

.head-tarifas,.head-tarifas-sub {
    background: hotpink;
    color: whitesmoke;
   font-weight: 900;
}
.head-caracteristicas,.head-caracteristicas-sub {
    background: limegreen;
    color: whitesmoke;
    font-weight: 900;
}
.head-caracteristicas-sub {
    font-size: .7em;
}
td {
    background: wheat;
}

.borde-inferior-izquierdo {
        border-bottom-left-radius: 20px;
}
   
