* {
    margin: 0;
    padding: 0;
}
img {
   
    width: 100%;
}
.main-menu{
    position: fixed;
    z-index: 6;
    font-size: 1.8em;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    display: block;
    width: 100%;
    list-style: none;
}
li{
    text-align: right;
    margin-right: 60px;
    margin-top: 35px;
}
a{
    color: white;
    text-decoration: none;
}
.toyota-tundra-visible{
    position: fixed;
    left: 0;
    transition: left 1500ms;
}
.toyota-tundra-oculta{
    position: fixed;
    left: -100%;
    transition: left 1500ms;
}
.toyota-hybrid-oculta-derecha{
    position: fixed;
    left: 100%;
    transition: left 1500ms;
}
.toyota-hybrid-visible{
    position: fixed;
    left: 0;
    transition: left 1500ms;  
}
.toyota-hybrid-oculta-izquierda{
    position: fixed;
    left: -100%;
    transition: left 1500ms;
}
.toyota-camry-oculta{
    position: fixed;
    left: 100%;
    transition: left 1500ms;
}
.toyota-camry-visible{
    position: fixed;
    left: 0;
    transition: left 1500ms;
}
.botonAdelante{
    font-size: 3em;
    cursor: pointer;
    position: fixed;
    bottom: 500px;
    right: 50px;
    color: white
}
.botonAtras{
    font-size: 3em;
    cursor: pointer;
    position: fixed;
    bottom: 500px;
    left:50;  
    color: white
}
.circulos{
    position: fixed;
    height: 40px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    
}
.circulo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.circulo-1{
    margin-right: 10px;
}
.circulo-2{
    margin-left: 10px;
}
.circulo-3{
    margin-left: 20px;
}
.circulo-claro{
    background-color: rgba(120,120,120.4);
}
.circulo-oscuro{
    background-color: rgba(20,20,20.4);
}
