* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.circle {
  
    display: flex;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background-color: rgb(221,0,33);
    color: white;
    font-weight: 900;
    text-align: right;
    justify-content: center;
    align-items: center;
    grid-area: icon-circle;
    margin-top: 12px;
    margin-left: 35px;
  }
.popup {
    position: fixed;
    right: 0;
    bottom: -20px;
    background: #f8f8f8;
    box-shadow: 0 0 5px 0 rgba(0,0,0, .3);
    font-family: sans-serif;
    text-align: center;
    width: 300px;
    height: 450px;
    padding: 20px;
    transform: translate(40%, 50%) scale(0.1);
    transition: transform 1.5s, bottom 1.5s;
    border-radius: 15px;
    
}
.open-popup {
    visibility: visible;
    transform: translate(-15%, -20%) scale(1);
}
.titulo-form {
    margin-top: 10px;
}
.subtitulo-form {
    margin-top: 10px;
}
.btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
}
.btn-cerrar-popup:hover {
    color: black;
}
.active {
    visibility: visible;
}
.encabezado {
    display: grid;
    border-bottom: 3px solid rgba(0,0,0, .4);
    grid-template: "hamburguer  icon-homecenter  empty icono-lupa icon-circle carrito-compras icono-user" 55px /
                    40px         40px             1fr  40px       60px         40px            40px;
}
.input-nuevo {
    margin-left: 300px;
    width: 700px;
}
input {
    display: block;
  margin: 15px auto;
  height: 35px;
  border-radius: 5px;
  font-family: Lato, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: rgb(64,64,64);
  background:rgba(245,245,245);
  outline: none;
 
  border: 1px solid rgba(0,0,0,.5);
  padding-left: 5px;
}
input:focus, textarea:focus {
    background-color: white;
  }
input::placeholder {
    font-size: .8em;
}
input[type="submit"] {
    width: 100%; 
    cursor: pointer;
    background-color: rgb(0,114,206);
    color: white;
    font-weight: 400;
    padding: 10px;
}
.text-area {
    height: 100px;
    width: 200px;
    resize: none;
    overflow-y: auto;
    color: rgb(64,64,64);
    background:rgba(245,245,245);
    font-family: Lato, sans-serif;
    outline: none;
    border: 1px solid rgba(0, 81, 255, 0.5);
    padding-left: 5px;
}
.boton-modal {
    position: fixed;
    bottom: 15px;
    right: 25px;
    display: flex;
    width: 80px;
    height: 41px;
    background-color: rgb(0,114,206);
    color: white;
    font-size: 25px;
    text-align: center;
    justify-content: flex-end;
    align-items:center;
    padding-right: 22px;
    border-radius: 23px;
    cursor: pointer;
    font-family: lato, sans-serif;
    font-weight: 500;
}
form {
    width: 250px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    font-family: Lato, sans-serif;
}

.contenedor-nuevo {
    background-color: blue;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template: "input-nuevo " 55px /
                    1fr        ;
}
.encabezado img{
    inline-size: 100%;
}

.menu-hamburguer {
    display: flex;
    grid-area: hamburguer;
    font-size: 1.75em;
    align-items: center;
    margin-left: 25px;
}
.icono-lupaa {
    display: flex;
    grid-area: icono-lupa;
    align-items: center;
    width: 130%;
    cursor: pointer;
}
.carrito-compras {
    grid-area: carrito-compras;
    width: 70%;
    margin-top: 12px;
    text-align: left;
}
.icono-user {
    grid-area: icono-user;
    width: 70%;
    margin-top: 12px;
    margin-left: 1px;
}
.lupa-nueva {
    height: 50%;
    inline-size: 20%;
    grid-area: icono-lupa;
}
.icono-homecenter {
    display: flex;
    grid-area: icon-homecenter;
    align-items: center;
    margin-left: 22px;
    margin-top: 12px;
}
@media (max-width: 700px) {
    .sliderMain {
        display: block;
        background: #90CAF9;
        background-image: url("../img/home.png");
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: contain;
        height: 562px;
    }
}
@media (min-width: 700px) {
    .sliderMain {
        display: block;
        background-image: url("../img/Homecenter-san.png");
        background-repeat: no-repeat;
        /* background-position-x: center;
        background-size: cover; */
        height: 531px;
    }
}
.encabezado {
    display: grid;
    border-bottom: 3px solid rgba(0,0,0, .4);
    /* background-color: yellow; */
    grid-template: "hamburguer  icon-homecenter  empty icono-lupa icon-circle carrito-compras icono-user" 55px /
                    40px         40px             1fr  40px       60px         40px            40px;
}
.header2Visible {
    display: grid;
    border-bottom: 3px solid rgba(0,0,0, .4);
    width: 100%;
    height: 100%;
    grid-template: "lupa-nueva input-nuevo cerrarBusqueda" 55px /
                    1fr         8fr         1fr;
}
.headerInvisible { 
    display: none;
}
.icono-lupa {
    display: flex;
    grid-area: icono-lupa;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
    cursor: pointer;
}
.icono-lupa-invisible {
    display: none;
}
.lupa{
    margin-left: 100px;
     font-size: 1.3em;
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    color: rgb(24,24,24,.8);
    font-weight: 400;
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
    display: block;
}
.lupa-nueva {
    display: flex;
    /* grid-area: icono-lupa; */
    /* text-align: right; */
    /* margin-right: 150px; */
    /* justify-content: flex-end; */
    align-items: right;
    justify-content: flex-end;
   /*  width: 40%;
    height: 20px;*/
    margin-top: 15px;
    margin-left: 40px;
    inline-size: 20%;   
    height: 22px;
    width: 20px;
    grid-area: lupa-nueva; 
}
.input-nuevo {
    grid-area: input-nuevo;
    display: flex;
   /*  margin-left: 40px; */
    text-align: left;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
    width: 90%;
    background-color: white;
    border: none;
}
.header2Invisible {
    display: none;
}
.cerrarBusqueda {
    grid-area: cerrarBusqueda;
    font-size: 1.3em;
   font-family: "Lato", sans-serif;
   display: flex;
   align-items: center;
   color: rgb(24,24,24,.8);
   font-weight: 400;
   justify-content: right;
   margin-right: 15px;
   margin-top: 15px;
   cursor: pointer;
   display: block;
}
.cerrarForm {
    cursor: pointer;
    display: block;
    text-align: right;
    margin-right: 23px;
    margin-top: -40px;
    font-size: 1.3em;
    color: white;
    
}
